In [1]:
import re

chat1='codebasics: Hello, I am having an issue with my order # 412889912'
pattern = r'order[^\d]*(\d*)'
matches = re.findall(pattern, chat1)
matches

['412889912']

In [2]:
chat3='codebasics: My order 412889912 is having an issue, I was charged 300$ when online it says 280$'
pattern = r'order[^\d]*(\d*)'
matches = re.findall(pattern, chat1)
matches

['412889912']

In [3]:
chat3='codebasics: My order 412889912 is having an issue, I was charged 300$ when online it says 280$'
pattern = r'order[^\d]*(\d*)'
matches = re.findall(pattern, chat3)
matches

['412889912']

In [15]:
def get_pattern_match(pattern ,text):
    matches = re.findall(pattern,text)
    if matches:
        return matches[0]

In [7]:
text = 'codebasics: My order 412889912 is having an issue, I was charged 300$ when online it says 280$'
pattern = r'order[^\d]*(\d*)'
get_pattern_match(pattern,text)

'412889912'

Retrieve Email id and Phone Number

In [8]:
chat1 = 'codebasics: you ask lot of questions ðŸ˜   1235678912, abc@xyz.com'
chat2 = 'codebasics: here it is: (123)-567-8912, abc@xyz.com'
chat3 = 'codebasics: yes, phone: 1235678912 email: abc@xyz.com'

In [9]:
get_pattern_match(r'[a-zA-Z0-9_]*@[a-z]*\.[a-zA-Z0-9]*',chat1)

'abc@xyz.com'

In [10]:
get_pattern_match(r'[a-zA-Z0-9_]*@[a-z]*\.[a-zA-Z0-9]*',chat2)

'abc@xyz.com'

In [11]:
get_pattern_match(r'[a-zA-Z0-9_]*@[a-z]*\.[a-zA-Z0-9]*',chat3)

'abc@xyz.com'

Phone Number

In [18]:
get_pattern_match(r'(\d{10})|(\(\d{3}\)-\d{3}-\d{4})',chat1)

('1235678912', '')

In [19]:
get_pattern_match(r'(\d{10})|(\(\d{3}\)-\d{3}-\d{4})',chat2)

('', '(123)-567-8912')

In [20]:
get_pattern_match(r'(\d{10})|(\(\d{3}\)-\d{3}-\d{4})',chat3)

('1235678912', '')

Regular Expression for Information Extraction

In [27]:
text='''
Born   Elon Reeve Musk
June 28, 1971 (age 50)
Pretoria, Transvaal, South Africa
Citizenship	
South Africa (1971â€“present)
Canada (1971â€“present)
United States (2002â€“present)
Education	University of Pennsylvania (BS, BA)
Title	
Founder, CEO and Chief Engineer of SpaceX
CEO and product architect of Tesla, Inc.
Founder of The Boring Company and X.com (now part of PayPal)
Co-founder of Neuralink, OpenAI, and Zip2
Spouse(s)	
Justine Wilson
â€‹(m. 2000; div. 2008)â€‹
Talulah Riley
â€‹
â€‹(m. 2010; div. 2012)â€‹
â€‹
â€‹(m. 2013; div. 2016)
'''

In [22]:
get_pattern_match(r'age (\d+)', text)

'50'

In [31]:
get_pattern_match(r'Born(.*)\n', text).strip()

'Elon Reeve Musk'

In [32]:
get_pattern_match(r'Born.*\n(.*)\(age', text).strip()

'June 28, 1971'

In [33]:
get_pattern_match(r'\(age.*\n(.*)', text)

'Pretoria, Transvaal, South Africa'

In [43]:
def extract_personal_information():
    age = get_pattern_match(r'age (\d+)', text)
    name = get_pattern_match(r'Born(.*)\n', text).strip()
    dob = get_pattern_match(r'Born.*\n(.*)\(age', text).strip()
    place_of_birth = get_pattern_match(r'\(age.*\n(.*)', text)
    return {
        'age': int(age),
        'name': name,
        'dob': dob,
        'place_of_birth': place_of_birth
    }

In [44]:
extract_personal_information()

{'age': 50,
 'name': 'Elon Reeve Musk',
 'dob': 'June 28, 1971',
 'place_of_birth': 'Pretoria, Transvaal, South Africa'}

In [ ]:
text = '''
Born	Mukesh Dhirubhai Ambani
19 April 1957 (age 64)
Aden, Colony of Aden
(present-day Yemen)[1][2]
Nationality	Indian
Alma mater	
St. Xavier's College, Mumbai
Institute of Chemical Technology (B.E.)
Stanford University (drop-out)
Occupation	Chairman and MD, Reliance Industries
Spouse(s)	Nita Ambani â€‹(m. 1985)â€‹[3]
Children	3
Parent(s)	
Dhirubhai Ambani (father)
Kokilaben Ambani (mother)
Relatives	Anil Ambani (brother)
Tina Ambani (sister-in-law)'''

In [ ]:
extract_personal_information()